body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
main{
    flex: 1 0 auto;
    font-family: 'Inconsolata' ;
}

/*Blog Posts*/

.blog-post {
    margin-bottom: 60px;
    font-family: 'Inconsolata' ;
}

.blog-post-title {
    margin-bottom: 5px;
    font-size: 40px;
    font-family: 'Inconsolata' ;
}

.blog-post-meta{
    margin-bottom: 20px;
    color: #999;
    font-family: 'Inconsolata' ;
}


