 <!DOCTYPE html>
  <html>
    <head>
      <!--Import Google Icon Font-->
      <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
      <link type="text/css" rel="stylesheet" href="css/blog.css">
      <link rel="icon" href="data:;base64,iVBORwOKGgo=">

      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>

    <body>
        <header>
             
            <nav>
                <div class="nav-wrapper green accent-3 ">
                    <a href="#" class="brand-logo">Blog</a>
                    <ul class="right active">
                       
  <li>
      
  <ul id="dropdown2" class="dropdown-content">
    <li><a href="index.html">Home<span class=" badge"></span></a></li>
    <li><a href="admin.html">Admin<span class="badge"></span></a></li>
    <li><a href="about.html">About<span class="badge"></span></a></li>
  </ul>
  <a class="btn dropdown-button" href="#!" data-activates="dropdown2">Menu<i class="mdi-navigation-arrow-drop-down right"></i></a>
		
               
	  </ul>
	</div>
	<!--END SUB MENU-->
  
                        
                    
                        <a class="toggle-nav" href="#">&#9776;</a>
              
            </nav>
        </header>
        <main>
            <div class="container">
                <div class="row">
                    <h1 class="center-align">Guide of Being a Devin</h1>
                </div>
                <div class="row">
                    <div class="col s12 main-container">
                        
                    </div>
                </div>
            </div>
            
        </main>
        <footer class="page-footer green accent-3">
            <div class="container" >
                <p><a href="#">Back to the top</a></p>
            </div>
            <div class="footer-copyright">
                <div class="container">
                    <span class="blue-text text-darken-2">@2016 Devin</span> 
                </div>
            </div>
        </footer>
      <!--Import jQuery before materialize.js-->
      <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
      <script type="text/javascript" src="libs/backendless.js"></script>
      <script type="text/javascript" src="js/blog.js"></script>
      <script type="text/javascript" src="js/materialize.min.js"></script>
      <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.12.0/moment.min.js"></script>
      <script type="text/javascript" src="js/handlebars-v4.0.5.js"></script>
      
      <script id="blogs-template" type="text/x-handlebars-template">
          {{#each posts }}
          <div class="blog-post">
              <h2 class="blog-post-title">{{title}}</h2>
              <p class="blog-post-meta">At {{format created}} by {{authorEmail}}</p>
              <div>{{content}}</div>
            </div>
    {{/each}}
      </script>
    </body>
  </html>
